@model RequestDto
@{
    ViewData["Title"] = " Vacation Request Details";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Vacation Request Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post">
            <div class="row" style="max-height: 500px; overflow-y: auto;">
                <div class="border-3 col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="row">
                        <div class="form-floating py-2 col-4">
                            <input asp-for="EmployeeName" class="form-control border-0 shadow" readonly />
                            <label asp-for="EmployeeName" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-4">
                            <input asp-for="Title" class="form-control border-0 shadow" readonly />
                            <label asp-for="Title" class="ms-2"></label>
                        </div>
                        <div class="form-floating py-2 col-4">
                            <input asp-for="DepartmentName" class="form-control border-0 shadow" readonly />
                            <label asp-for="DepartmentName" class="ms-2"></label>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-floating py-2 col-4">
                            <input asp-for="VacationDateFrom" type="date" class="form-control border-0 shadow" readonly />
                            <label asp-for="VacationDateFrom" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-4">
                            <input asp-for="VacationDateTo" type="date" class="form-control border-0 shadow" readonly />
                            <label asp-for="VacationDateTo" class="ms-2"></label>
                        </div>
                        <div class="form-floating py-2 col-4">
                            <input asp-for="TotalDaysRequested" class="form-control border-0 shadow" readonly />
                            <label asp-for="TotalDaysRequested" class="ms-2"></label>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RequestStatus" class="control-label"></label>
                                <input asp-for="RequestStatus" class="form-control border-0 shadow" readonly />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ReturningDate" class="control-label"></label>
                                <input asp-for="ReturningDate" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="py-2 col-12">
                            <label asp-for="Notes" class="ms-2 text-muted"></label>
                            <textarea asp-for="Notes" class="form-control border-0 shadow" rows="4" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-3 justify-content-center">
              
                <div class="col-md-4 pt-4">
                    <a asp-action="Index" class="btn btn-outline-primary btn-lg w-100 shadow-sm">
                        <i class="fas fa-arrow-left me-2"></i>
                        Back to List
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}